* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  color: white;
}
h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}
img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
